/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 02-Nov-2018, 12:10:29
    Author     : ComradeBaz

    This formats a table on a page with the bootsfaces import (checkinguest2.xhtml)
    Seems like with this import entries on a dataTable become labels
    Labels are formatted as bold
    This custom formats the labels on a dataTable
*/
.boldLabel {
    font-weight: bold;
    margin: 0px;
}
.normalLabel {
    font-weight: normal;
    width: 200px;
    border-radius: 4px;
    border-style: solid;
    border-color: #00131a;
    border-width: 1px;
    color: black;
    padding-left: 3px;
    margin: 0px;
}
input[type=checkbox] + label {
    font-weight: normal;
} 


